@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply bg-bg text-text font-Outfit;
  }

  html,
  body,
  main {
    height: 100%;
    width: 100%;
  }

  #carrousel::-webkit-scrollbar {
    width: 10px;
    height: 1.5px;
  }

  #carrousel::-webkit-scrollbar-track {
    background: transparent;
  }

  #carrousel::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 50%;
  }
}
